{% extends 'base.html' %}
{% load static %}
{% block title %}Our Services | Goodmil Construction{% endblock title %}
{% block servicesactive %}active{% endblock servicesactive %}
{% block footerservicesactive %}active{% endblock footerservicesactive %}

{% block additionalheader %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<meta name="keywords" content="Goodmil Construction, best construction company">
<meta name="description" content="Full-Service Solutions for All Your Construction Needs: Goodmil Construction's Services">
<meta name="robots" content="nofollow" />
<meta name="og:title" content="Goodmil Construction|Services" />
<meta name="og:description" content="Full-Service Solutions for All Your Construction Needs: Goodmil Construction's Services" />
<meta name="og:image" content="https://site.com/static/img/goodmil-logo.jpg" />
<meta name='og:type' content="website">
<meta name='og:site_name' content="Goodmil Construction">
<meta name='og:url' content="https://site.com/">
<meta name="twitter:title" content="Goodmil Construction|Services" />
<meta name="twitter:description" content="Full-Service Solutions for All Your Construction Needs: Goodmil Construction's Services" />
<meta name="twitter:image" content="https://site.com/static/img/goodmil-logo.jpg" />
{% endblock additionalheader %}

{% block maincontent %}

    <!-- PAGE MAIN IMAGE START  -->
    <section class="page-image" id="add-margin">
        <div class="page-image-container">
            <h1>SERVICES</h1>
            <div class="page-location">
                <a href="#"><i class="fa-solid fa-house"></i></a>&nbsp; // SERVICES
            </div>
        </div>
    </section>
    <!-- PAGE MAIN IMAGE END  -->

    <!-- SERVICES PAGE FIRST SECTION START -->
    <section class="services-first">
        <div class="services-first-container">
            <div class="services-first-header">
                <h3>What We Offer</h3>
                <h4>Always dedicated and devoted</h4>
                <p><span></span> <i class="fa-solid fa-cubes"></i> <span></span></p>
            </div>
            <div class="services-first-boxes">
                <div class="outer-box" data-aos="fade-up" data-aos-offset="40">
                    <div class="box">   
                        <div class="services-first-img">
                            <img src="{% static 'img/about1.png' %}" alt="">
                        </div>
                        <div class="services-first-desc">
                            <h3>Architech Plan & 3D Designs</h3>
                            <p>At Goodmil Construction, we understand that planning and design are crucial components in any construction project. That's why our team of experts takes pride in crafting architectural plans and 3D designs that are both functional and visually appealing. Our detailed plans and designs help our clients to better visualize their projects, ensuring that they are satisfied with the end result. We believe that careful planning and design are key to a successful construction project, and we work closely with our clients to ensure that their vision is fully realized. Trust us to bring your construction project to life with precision and excellence.</p>
                        </div>
                    </div>
                </div>
                <div class="outer-box" data-aos="fade-up" data-aos-offset="40">
                    <div class="box">   
                        <div class="services-first-img">
                            <img src="{% static 'img/hero1.png' %}" alt="">
                        </div>
                        <div class="services-first-desc">
                            <h3>Civil Works</h3>
                            <p>Goodmil Construction offers a diverse range of civil works services that are essential to the success of any construction project. Our team of experts is equipped to handle everything from excavation and site preparation to the installation of drainage systems, roads, and more. We understand that each project is unique, and we work closely with our clients to ensure that their specific needs are met. Our commitment to quality and attention to detail means that we deliver results that exceed expectations. Trust us to provide reliable and efficient civil works services that are tailored to your individual needs.</p>
                        </div>
                    </div>
                </div>
                <div class="outer-box" data-aos="fade-up" data-aos-offset="40">
                    <div class="box">   
                        <div class="services-first-img">
                            <img src="{% static 'img/hero2.png' %}" alt="">
                        </div>
                        <div class="services-first-desc">
                            <h3>Repair & Renovation</h3>
                            <p>Goodmil Construction offers comprehensive repair and renovation services for commercial and residential properties. Our experienced team has the expertise to assess your property's repair and renovation needs, providing a tailored solution to restore its functionality and beauty. From minor fixes to extensive repairs, we strive to exceed your expectations with our high-quality workmanship and attention to detail. Whether you need a quick repair or a complete renovation, our team is here to help you achieve your vision for your property. Trust us to handle your repair and renovation needs with the utmost care and precision.</p>
                        </div>
                    </div>
                </div>
                <div class="outer-box" data-aos="fade-up" data-aos-offset="40">
                    <div class="box">   
                        <div class="services-first-img">
                            <img src="{% static 'img/hero3.png' %}" alt="">
                        </div>
                        <div class="services-first-desc">
                            <h3>Realestate & Housing Services</h3>
                            <p>Goodmil Construction is dedicated to providing exceptional real estate and housing services, whether you're looking to build a new home, commercial property, or remodel your existing space. Our experienced team works with clients every step of the way, from initial consultation to final execution, to ensure the project meets all expectations. Our goal is to create a space that not only looks beautiful but is functional and comfortable to live or work in. Count on us to bring your dream property to life, using the latest construction techniques and the highest quality materials.</p>
                        </div>
                    </div>
                </div>
                <div class="outer-box" data-aos="fade-up" data-aos-offset="40">
                    <div class="box">   
                        <div class="services-first-img">
                            <img src="{% static 'img/hero4.png' %}" alt="">
                        </div>
                        <div class="services-first-desc">
                            <h3>Interior Design & Decoration</h3>
                            <p>Interior Design & Decoration is an essential service offered by Goodmil Construction, providing clients with a range of customized interior solutions that enhance the functionality and aesthetic appeal of their spaces. Our team of experienced designers works closely with clients to understand their vision and deliver exceptional results, bringing together the right materials, textures, and colors to create stunning and practical interior designs. We offer end-to-end services, from initial planning and design to the final installation of fixtures and finishes, ensuring that our clients receive the best possible outcome.</p>
                        </div>
                    </div>
                </div>
                <div class="outer-box" data-aos="fade-up" data-aos-offset="40">
                    <div class="box">   
                        <div class="services-first-img">
                            <img src="{% static 'img/hero5.png' %}" alt="">
                        </div>
                        <div class="services-first-desc">
                            <h3>Painting & Roofing</h3>
                            <p>Painting and roofing are two important services provided by Goodmil Construction to enhance the aesthetic and functional aspects of a building. With our expertise in painting, we provide professional painting services to give your building a fresh and vibrant look. We also offer roofing services to ensure your building is protected from weather elements and looks visually appealing. Our team of skilled and experienced professionals use the best materials and equipment to deliver high-quality work that exceeds your expectations. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SERVICES PAGE FIRST SECTION END -->

    <!-- SERVICES PROCESS START  -->
    <section class="services-process">
        <div class="services-process-container" data-aos="zoom-out">
            <div class="box">
                <div class="box-img">
                    <img src="{% static 'img/planning.png' %}" alt="">
                </div>
                <h2>01</h2>
                <h3>Planning</h3>
                <p>Careful assessment of the scope and requirements of the project to identify key goals and resources.</p>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="{% static 'img/designing.png' %}" alt="">
                </div>
                <h2>02</h2>
                <h3>Designing</h3>
                <p>Conceptualization of the project through sketches, architectural plans, and other design documents.</p>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="{% static 'img/building.png' %}" alt="">
                </div>
                <h2>03</h2>
                <h3>Building</h3>
                <p>Actual construction work, including the use of heavy equipment and skilled labor to bring the design to life.</p>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="{% static 'img/delivery.png' %}" alt="">
                </div>
                <h2>04</h2>
                <h3>Delivery</h3>
                <p>Final check, cleaning, preparation, handover, and post-construction support provided.</p>
            </div>
        </div>
    </section>
    <!-- SERVICES PROCESS END  -->

    <!-- SERVICES PROUD START  -->
    <section class="services-proud">
        <div class="services-proud-container">
            <div class="services-proud-left">
                <div class="services-proud-img">
                </div>
            </div>
            <div class="services-proud-right">
                <h3><div data-aos="fade-right">we proud of what we do</div></h3>
                <p>
                    At our construction company, we are proud of what we do. We firmly believe in the importance of sustainable and environmentally conscious construction practices. Our dedication to these principles has allowed us to create projects that not only meet the needs of our clients but also contribute to a better future for the country.
                    <br><br>
                    We understand the impact that construction can have on the environment and we take this responsibility seriously. By utilizing sustainable materials and techniques, we aim to minimize our carbon footprint and reduce waste. This commitment to sustainable construction has led to numerous successful projects that have garnered attention for their innovative design and attention to detail.
                    <br><br>
                    At the same time, we recognize that the construction industry has the potential to drive economic growth and create job opportunities. Through our work, we strive to contribute to the country's economic development while also promoting environmentally friendly construction practices. We take great pride in the work that we do, and we are committed to continuing to set a high standard for sustainable construction.
                </p>
            </div>
        </div>
    </section>
    <!-- SERVICES PROUD END  -->

{% include 'home/components/clients.html' %}
{% include 'home/components/contact.html' %}
{% endblock maincontent %}

{% block additionaljs %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="{% static 'js/clients.js' %}"></script>
{% endblock additionaljs %}