/* PAGE MAIN IMAGE START  */
.page-image{
    width: 100%;
    height: 20rem;
    background: var(--light-hover) url("../img/hero3.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-image::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.742);
	z-index: 3;
}
.page-image-container{
    width: 80%;
    z-index: 4;
}
.page-image-container h1{
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--light);
    margin-bottom: 1rem;
}
.page-image-container h2{
    font-weight: 500;
    font-size: 1rem;
    color: var(--light);
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.page-image-container .page-location{
    color: var(--light-hover);
}
.page-image-container .page-location a{
    color: var(--secondary-color);
}
@media screen and (max-width: 1200px){
    .page-image{
        height: 16rem;
    }
}
@media screen and (max-width: 992px){
    .page-image-container{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .page-image-container{
        width: 95%;
    }
}
/* PAGE MAIN IMAGE END  */

/* BLOG FIRST START  */
.blog-first{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    width: 100%;
}
.blog-first-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.blog-first-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 49%;
}
.blog-first-left .outer-box{
    width: 100%;
}
.blog-first-left .box{
    width: 100%;
    margin-bottom: 2rem;
    background: var(--light);
    box-shadow: 2px 2px 1.4rem rgba(0, 0, 0, 0.11);
    border-radius: .3rem;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    top: 0;
}
.blog-first-left .box:hover{
    box-shadow: 2px 2px 1.7rem rgba(0, 0, 0, 0.15);
    top: -.3rem;
}
.blog-first-right{
    display: flex;
    flex-direction: column;
    width:49%;
}
.blog-first-right .outer-box{
    width: 100%;
}
.blog-first-right .box{
    width: 100%;
    margin-bottom: 2rem;
    background: var(--light);
    box-shadow: 2px 2px 1.4rem rgba(0, 0, 0, 0.11);
    border-radius: .3rem;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    top: 0;
    display: flex;
    align-items: center;
}
.blog-first-right .box:hover{
    box-shadow: 2px 2px 1.7rem rgba(0, 0, 0, 0.15);
    top: -.3rem;
}
.blog-first-left .news-img a{
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    display: inline-block;
}
.blog-first-right .news-img{
    width: 25rem;
}
.news-img .news-type{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
}
.news-img img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    scale: 1;
    transition: .3s;
}
.news-boxes .box:hover .news-img img{
    transform: translateX(-50%) scale(1.1);
}
.news-desc .top-desc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem 1rem;
}
.news-desc h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 1rem;
    color: var(--dark);
}
.news-desc h4{
    font-weight: 500;
    margin-top: .4rem;
    opacity: .6;
    margin: .5rem 1rem;
}
.news-desc .buttons{
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .1rem solid #bbb;
    padding: 1rem;
}
.news-desc .buttons span{
    font-weight: 600;
    padding: .6rem .8rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .3s;
    border: .1rem solid #ccc;
}
.news-desc .buttons span:hover{
    background: var(--light-hover);
}
.blog-first-left .news-desc .buttons span .news-share-icons{
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--light-hover);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    /* display: none; */
    z-index: -1;
    transition: .3s;
}
.news-desc .buttons span:hover .news-share-icons{
    opacity: 1;
    z-index: 99;
    bottom: 95%;
    /* display: flex; */
}
.news-desc .buttons span .news-share-icons a{
    font-size: 1.2rem;
    margin: .5rem;
    color: var(--dark);
    transition: .2s;
}
.news-desc .buttons span .news-share-icons a:nth-of-type(1):hover{
    color: rgb(0, 170, 255);
}
.news-desc .buttons span .news-share-icons a:nth-of-type(2):hover{
    color: rgb(224, 12, 12);
}
.news-desc .buttons span .news-share-icons a:nth-of-type(3):hover{
    color: rgb(30, 215, 248);
}
.news-desc .buttons span .news-share-icons a:nth-of-type(4):hover{
    color: rgb(28, 168, 199);
}
.news-desc .buttons span .news-share-icons a:nth-of-type(5):hover{
    color: rgb(255, 111, 0);
}
.news-desc button{
    border: none;
    outline: none;
    padding: .5rem 1.8rem;
    font-size: 1.1rem;
    background: var(--light);
    cursor: pointer;
    border: .15rem solid var(--secondary-color);
    font-weight: 500;
    position: relative;
    transition: .3s;
}
.news-desc button::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: .12rem;
    width: 1rem;
    background: var(--secondary-color);
    transition: .3s;
}
.news-desc button:hover::before{
    width: 2rem;
    left: .2rem;
    background: var(--dark);
}
.news-desc button:hover{
    padding: .5rem 3rem;
    border: .15rem solid var(--secondary-color-hover);
    color: var(--light);
    z-index: 2;
    background: var(--secondary-color-hover);
}
@media screen and (max-width: 1200px){
    .blog-first-container{
        width: 90%;
    }
}
@media screen and (max-width: 992px){
    .blog-first-left{
        width: 100%;
    }
    .blog-first-left .news-img{
        height: 25rem;
    }
    .blog-first-left .news-img a{
        height: 25rem;
    }
    .blog-first-right{
        width: 100%;
    }
    .news-desc button:hover{
        padding: .5rem 2rem;
    }
    .news-desc button:hover::before{
        width: 1.3rem;
    }
}
@media screen and (max-width: 768px){
    .blog-first-container{
        width: 95%;
    }
    .news-desc h4{
        display: block;
    }
}
@media screen and (max-width: 576px){
    .blog-first-left .news-img{
        height: 16rem;
    }
    .blog-first-left .news-img a{
        height: 16rem;
    }
    .blog-first-right{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .blog-first-right .box{
        flex-direction: column;
    }
    .blog-first-right .news-img{
        width: 100%;
    }
}
/* BLOG FIRST END  */

/* BLOG SECOND START   */
.blog-second{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    background: #f8f8f8;
    padding-bottom: 5rem;
}
.blog-second-container{
    display: flex;
    flex-direction: column;    
    width: 80%;
}
.blog-second-header{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
.blog-second-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.blog-second-title h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.blog-second-title p{
    display: flex;
    justify-content: center;
}
.blog-second-title p i{
    font-size: 1.1rem;
    color: var(--secondary-color-hover);
}
.blog-second-title p span{
    position: relative;
    margin: 0 2rem;
    width: 5rem;
    height: 1rem;
}
.blog-second-title p span:first-child::before,
.blog-second-title p span:last-child::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 10%;
    height: .06rem;
    width: 100%;
    background: #888;
}
.blog-second-title p span:first-child::after,
.blog-second-title p span:last-child::after{
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    height: .06rem;
    width: 100%;
    background: #888;
}
.blog-search-form{
    display: flex;
    align-items: center;
    border-radius: .5rem;
    background: var(--light);
    width: 30%;
    height: fit-content;
    padding: .2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
}
.blog-search-form label{
    padding: .4rem 0 .4rem .4rem;
    font-size: 1.6rem;
}
.blog-search-form input,
.blog-search-form button{
    border: none;
    outline: none;
    padding: .4rem;
    font-size: 1rem;
    font-weight: 600;
    margin: .3rem;
    border-radius: .3rem;
}
.blog-search-form input{
    width: 100%;
}
.blog-search-form button{
    padding: .6rem 1.2rem;
    background: var(--secondary-color);
    cursor: pointer;
    transition: .2s;
}
.blog-search-form button:hover{
    background: var(--secondary-color-hover);
    padding: .6rem 1.3rem;
}

.blog-second-body{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog-list{
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-list .outer-box{
    width: 49%;
}
.blog-list .box{
    width: 100%;
    margin-bottom: 2rem;
    background: var(--light);
    box-shadow: 2px 2px 1.4rem rgba(0, 0, 0, 0.11);
    border-radius: .3rem;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    top: 0;
}
.blog-list .box:hover{
    box-shadow: 2px 2px 1.7rem rgba(0, 0, 0, 0.15);
    top: -.3rem;
}
.blog-sidebar{
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-letter{
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    background: var(--light);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.03);
    margin-bottom: 1.5rem;
}
.news-letter i{
    font-size: 3rem;
    color: var(--secondary-color);
    margin-top: 2rem;
}
.news-letter h2{
    margin-top: 1rem;
    font-size: 1.4rem;
}
.news-letter h4{
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: 500;
    opacity: .8rem;
}
.news-letter .subscribe-form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.subscribe-form input,
.subscribe-form button{
    padding: .8rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: .3rem;
    background: var(--light-hover);
    font-weight: 500;
    margin-bottom: .5rem;
}
.subscribe-form button{
    background: var(--secondary-color);
    transition: .2s;
    cursor: pointer;
}
.subscribe-form button:hover{
    background: var(--secondary-color-hover);
}
.other-posts{
    margin: 2rem 0;
}
.other-posts h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.other-posts h2::after{
    content: "";
    width: 6rem;
    height: .15rem;
    position: absolute;
    bottom: -.5rem;
    left: 0;
    background: var(--secondary-color);
    transition: .3s;
    border-radius: .2rem;
}
.other-posts:hover h2::after{
    background: var(--secondary-color-hover);
}
.other-blogs{
    display: flex;
    flex-direction: column;
}
.other-blog{
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: .08rem solid #ccc;
    cursor: pointer;
}
.other-blog .blog-img{
    width: 5rem;
    min-width: 5rem;
    height: 3.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: .2rem;
}
.other-blog .blog-img img{
    height: 100%;
    object-fit: cover;
    transition: .2s;
}
.other-blog:hover .blog-img img{
    transform: scale(1.05);
}
.other-blog .blog-desc{
    margin-left: .7rem;
    color: var(--dark);
}
.other-blog .blog-desc p:first-child{
    font-size: .8rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: .2rem;
}
.other-blog .blog-desc p:last-child{
    font-size: .9rem;
    transition: .2s;
}
.other-blog:hover .blog-desc p:last-child{
    color: #000;
}
@media screen and (max-width: 1200px){
    .blog-second-container{
        width: 90%;
    }
}
@media screen and (max-width: 992px){
    .blog-second-title{
        width: 60%;
    }
    .blog-search-form{
        width: 40%;
    }
    .blog-list{
        width: 60%;
    }
    .blog-list .outer-box{
        width: 98%;
    }
    .blog-second .news-img{
        height: 20rem;
    }
    .blog-second .news-img a{
        height: 20rem;
    }
    .blog-sidebar{
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    .blog-second{
        padding-bottom: 3rem;
    }
    .blog-second-title{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .blog-search-form{
        width: 100%;
    }
    .blog-list{
        width: 100%;
    }
    .blog-list .outer-box{
        width: 49%;
    }
    .blog-second .news-img{
        height: 14rem;
    }
    .blog-second .news-img a{
        height: 14rem;
    }
    .blog-second .news-desc h4{
        display: none;
    }
    .blog-sidebar{
        width: 100%;
    }
    .other-posts{
        width: 100%;
        margin-bottom: 0;
    }
    .other-blog{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 576px){
    .blog-list .outer-box{
        width: 100%;
    }
    .blog-second .news-img{
        height: 14rem;
    }
    .blog-second .news-img a{
        height: 14rem;
    }
    .blog-second .news-desc h4{
        display: none;
    }
    .blog-sidebar{
        width: 100%;
    }
}
/* BLOG SECOND END   */