/* PAGE MAIN IMAGE START  */
.page-image{
    width: 100%;
    height: 20rem;
    background: var(--light-hover) url("../img/hero3.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-image::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.742);
	z-index: 3;
}
.page-image-container{
    width: 80%;
    z-index: 4;
}
.page-image-container h1{
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--light);
    margin-bottom: 1rem;
}
.page-image-container .page-location{
    color: var(--light-hover);
}
.page-image-container .page-location a{
    color: var(--secondary-color);
}
@media screen and (max-width: 1200px){
  .page-image{
      height: 16rem;
  }
}
@media screen and (max-width: 992px){
  .page-image-container{
      width: 90%;
  }
}
@media screen and (max-width: 768px){
  .page-image-container{
      width: 95%;
  }
}
/* PAGE MAIN IMAGE END  */

/* CONTACT FIRST START  */
.contactcontainer {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 50px;
    padding: 4rem 0 0 0;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-page-header{
    text-align: center;
}
.contact-page-header h3{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: .2rem;
    text-transform: uppercase;
}
.contact-page-header h4{
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-transform: uppercase;
    opacity: .6;
}
.contact-page-header p{
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
}
.contact-page-header p i{
    font-size: 1.1rem;
    color: var(--secondary-color-hover);
}
.contact-page-header p span{
    position: relative;
    margin: 0 2rem;
    width: 5rem;
    height: 1rem;
}
.contact-page-header p span:first-child::before,
.contact-page-header p span:last-child::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 10%;
    height: .06rem;
    width: 100%;
    background: #888;
}
.contact-page-header p span:first-child::after,
.contact-page-header p span:last-child::after{
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    height: .06rem;
    width: 100%;
    background: #888;
}
  .contactcontainer .content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
    /* background: #fcfcfc; */
    border-radius: .3rem;
  
  }
  .contactcontainer .content .left-side {
    /* height: 100%; */
    width: 50%;
    /* background: url("../img/cat4.jpg") 0 / cover no-repeat; */
    position: relative;
    /* background: red; */
    min-height: 540px;
  }
  .contactcontainer .content .left-side .contactimage{
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
  }
  .contactcontainer .content .left-side .contactimage img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
  }
  /* .contactcontainer .content .left-side::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/cat4.jpg') 0/cover no-repeat;
    object-fit: cover;
  } */
  .contactcontainer .content .left-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.46);
    z-index: 9;
  }
  .contactcontainer .content .left-side .contactinfo {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 90%;
    color: #ffffff;
    /* color: #000; */
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
  }
  .contactinfo h2{
    border-bottom: .2rem solid var(--secondary-color);
    font-size: 1.5rem;
  }
  .contactinfo p {
    margin: 20px 0 0 10px;
  }
  .contactinfo p a {
    color: #fff;
  }
  .contactinfo p:last-child {
    margin: 50px 0 0 0;
  }
  .contactcontainer .content .right-side {
    width: 50%;
    /* margin-left: 75px; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .contactcontainer .content .right-side-container{
      margin: 0 20px;
  }
  .contactcontainer .right-side .topic-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }
  .right-side-container form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .contactcontainer .content .right-side .input-box {
    min-height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .contactcontainer .content .right-side .input-box:not(:nth-child(5)){
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.05);
  }
  .contactcontainer .content .right-side .sinput-box{
    width: 48%;
  }
  .contactcontainer .right-side .input-box input,
  .contactcontainer .right-side .input-box textarea {
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    /* border-left: 6px solid #ce4f3e;
    border-bottom: 3px solid #ce4f3e; */
    background: #fff;
    padding: 0 10px;
    resize: none;
  }
  .contactcontainer .right-side .input-box input[type="radio"] {
    width: 3%;
    min-width: 15px;
    height: 50%;
  }
  .contactcontainer .right-side .input-box span {
    position: inherit;
    font-size: 16px;
    padding-bottom: 20px;
  }
  .contactcontainer .right-side .message-box {
    min-height: 110px;
  }
  .contactcontainer .right-side .button {
    display: inline-block;
    margin-top: 12px;
  }
  .contactcontainer .right-side .button input[type="submit"] {
    color: var(--dark);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 20px;
    background: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
  }
  .contactcontainer .right-side .button input[type="submit"]:hover {
    background: var(--secondary-color-hover);
    color: var(--dark-hover);
  }
  .contactcontainer .right-side .message-box textarea {
    padding-top: 6px;
    resize: vertical;
    height: 100px;
  }
  @media screen and (max-width: 1200px){
    .contactcontainer .content .left-side .contactinfo {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      color: #ffffff;
      /* color: #000; */
      padding: 10px;
      border-radius: 10px;
      z-index: 100;
    }
  }
  @media screen and (max-width: 1024px) {
    .contactcontainer .content .right-side {
      margin-left: 25px;
    }
  }
  @media screen and (max-width: 876px) {
    .contactcontainer .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      /* height: 1150px; */
      overflow: visible;
    }
    .contactcontainer .content .left-side {
      width: 100%;
      height: 30%;
      min-height: 350px;
    }
    .contactcontainer .content .left-side .contactinfo {
      top: 10px;
      left: 0;
      width: 100%;
    }
    .contactinfo h2 {
      margin-bottom: 1rem;
    }
    .contactinfo p {
      margin: 0;
    }
    .contactinfo p:last-child {
      margin: 10px 0 0 0;
    }
    .contactcontainer .content .right-side {
      width: 100%;
      height: 70%;
      margin-left: 0px;
      padding: 10px;
    }
    .contactcontainer .content .right-side .right-side-container{
      margin: 0 0;
    }
    .contactcontainer .content .right-side .sinput-box{
      width: 100%;
    }
  }  
  @media screen and (max-width: 768px){
    .contactcontainer .content{
      width: 95%;
    }
  }
/* CONTACT FIRST END  */

/* MAP SECTION START  */
.map-section{
  width: 100%;
  height: 30rem;
  margin-top: 6rem;
}
.map{
  border: none;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px){
  .map-section{
    margin-top: 4rem;
  }
}
/* MAP SECTION END  */


/* ABOUT BRANCH START  */
.about-branch{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    background: #f8f8f8;
    padding-bottom: 5rem;
}
.about-branch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.about-branch-header{
    text-align: center;
}
.about-branch-header h3{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.about-branch-header p{
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
    max-width: 50rem;
}
.about-branch-header p i{
    font-size: 1.1rem;
    color: var(--secondary-color-hover);
}
.about-branch-header p span{
    position: relative;
    margin: 0 2rem;
    width: 5rem;
    height: 1rem;
}
.about-branch-header p span:first-child::before,
.about-branch-header p span:last-child::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 10%;
    height: .06rem;
    width: 100%;
    background: #888;
}
.about-branch-header p span:first-child::after,
.about-branch-header p span:last-child::after{
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    height: .06rem;
    width: 100%;
    background: #888;
}
.about-branch-header p:last-child{
    margin-bottom: 3rem;
}
.about-branch-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-branch-boxes .box{
    display: flex;
    justify-content: space-evenly;
    width: 49%;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.05);
    bottom: 0;
    transition: .3s;
}
.about-branch-boxes .box:hover{
    bottom: .3rem;
}
.about-branch-img{
    width: 40rem;
    min-width: 150px;
    display: flex;
    align-items: center;
    height: 120px;
    margin-right: 1rem;
}
.about-branch-img img{
    height: 100%;
    object-fit: cover;
    min-width: 100%;
}

.about-branch-desc h3{
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    margin-bottom: 2rem;
}
.about-branch-desc h3::after{
    content: "";
    width: 4rem;
    height: .25rem;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background: var(--secondary-color);
    transition: .3s;
    border-radius: .2rem;
}
@media screen and (max-width: 1200px){
  .about-branch-boxes .box{
    flex-direction: column;
    align-items: center;
  }
  .about-branch-img{
    width: 100%;
    height: 14rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 992px){
  .about-branch-container{
    width: 90%;
  }
  .about-branch-boxes .box{
    flex-direction: column;
    align-items: center;
  }
  .about-branch-img{
    width: 100%;
    height: 14rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px){
  .about-branch{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .about-branch-container{
    width: 95%;
  }
  .about-branch-img{
    height: 10rem;
  }
  .about-branch-header h3{
    margin-bottom: 1rem;
}
.about-branch-header p{
    margin-bottom: 1rem;
}
  .about-branch-header p:last-child{
    margin-bottom: 1.5rem;
}
}
@media screen and (max-width: 576px){
  .about-branch-boxes .box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.05);
    bottom: 0;
    transition: .3s;
}
  .about-branch-img{
    height: 14rem;
  }
}
/* ABOUT BRANCH END  */