<!-- CLIENTS START  -->
{% load static %}
<section class="clients-section">
    <div class="clients-container swiper mySwiper2">
        <div class="swiper-wrapper content">
            <div class="swiper-slide client"><img src="{% static 'img/chhaya-center-logo.png' %}" alt=""></div>
            <div class="swiper-slide client"><img src="{% static 'img/dhulikhel-logo.png' %}" alt=""></div>
            <div class="swiper-slide client"><img src="{% static 'img/budhanilkantha-logo.png' %}" alt=""></div>
        </div>
    </div>
</section>
<!-- CLIENTS END  -->